---
layout: layout.njk
title: Página Inicial
---

<section class="home">
  <h1>Bem-vindo ao Dados Agora</h1>
  <p>Escolha uma das opções acima para visualizar as cotações ou fazer conversões de moedas.</p>
</section>
